#app {
  display: flex;

  position: relative;
}

#ball {
  width: 350px;
  height: 350px;

  margin: auto;

  border-radius: 50%;
  background: var(--ball);
}

#ball::before {
  content: "";

  width: 360px;
  height: 360px;

  border-radius: 50%;
  background: var(--ball-wrapper);

  filter: blur(18px);
}

.ball::after {
  content: "";

  position: absolute;
  top: 60vh;

  width: 350px;
  height: 60px;

  border-radius: 50%;
  background: var(--ball-shadow);

  filter: blur(10px);

  z-index: -1;
}

@media (max-width: 500px) {
  #ball {
    width: 250px;
    height: 250px;
  }

  .ball::after {
    width: 250px;
    height: 60px;
  }
}
